<!DOCTYPE html>
<html ng-app="regexWars">
<head>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="lib/jquery/dist/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="solve/solve.js"></script>
  <script src="submit/submit.js"></script>
  <script src="list/list.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div>
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><a href="#/problems">View Problems!</a></li>
          <li><a href="#/solve">Do Problems!</a></li>
          <li><a href="#/submit">Submit Problems!</a></li>
        </ul>
      </nav>
    </div>
    <div ng-view class="container-fluid"></div>
    <br>
    <!-- <script src="index.js"></script> -->

    <!-- <script src="problems/probs.js"></script> -->

    <!-- <div ng-controller="regexController">
      <h1>{{ prob.prompt }}</h1>
      <h2>{{ prob.text }}</h2>
      <form ng-submit="check()">
        <input type="text" ng-model="input">
        <input type="submit"></input>
      </form>
      <pre>{{ input }}</pre>
    </div> -->
</body>
</html>




















<!-- <!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="index.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div ng-app="regexWars">

    <navbar>Hello this is a navbar</navbar>
    <div ng-controller="regexController">
      <h1>{{ prob.prompt }}</h1>
      <h2>{{ prob.text }}</h2>
      <form ng-submit="check()">
        <input type="text" ng-model="input">
        <input type="submit"></input>
      </form>
      <pre>{{ input }}</pre>
    </div>
  </div>
</body>
</html> -->
